body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.login-container {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  margin: 0 auto;
  margin-top: 10em;
}

form {
  display: flex;
  flex-direction: column;

}

form input, button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

form .error {
    color: red;
    font-size: 0.9rem;
}

header {
  background-color: #1a1a1a;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links li a:hover {
  color: #ffcc00;
}

.logout-button {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: #e60000;
}